.button{
    display: inline-block;
    padding: 12px 45px;
    border-radius: 3px;
    text-align: center;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &:focus{
        background-color: #ca2c37;
    }
    &:active{
        background-color: #ba2732;
    }
}